*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

form {
    max-width: 650px;
    margin: 2em auto 0;
}

.input-wrapper {
    margin: 1em 0;
}

.input-wrapper > * {
    display: block;
    transition: all ease-out 200ms;
}

input {
    width: 100%;
    font-size: .9em;
    padding: .8em;
    border: 2px solid rgba(32, 28, 28, 0.671);
    border-radius: 5px;
}

input.valid {
    border-color: #36cc36;
}

input.invalid {
    border-color: orange;
}

span {
    margin-top: .5em;
    opacity: 0;
    height: 0;
}

input.invalid + span {
    opacity: 1;
    height: auto;
}